<!DOCTYPE html>​

<html> <head>​
    <title>Sistema de Controle de Animais</title>
    <meta name="viewport" content="width = device-width, initial-scale =1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>​
</head>​
<body>​
    <center> ​
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: black;">
            <a class="navbar-brand navbar-dark" href="/home">Creche</a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbar-dark" href="#" id="navbarDropdown2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Area dos Pais
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <a class="dropdown-item" href="/cadastrarCrianca">Cadastrar Aluno</a>
                        <a class="dropdown-item" href="/alunoList">Listar Aluno</a>
                        <a class="dropdown-item" href="/matriculaCreate">Matricular</a>
                        <a class="dropdown-item" href="/matriculaList">Gerenciar Dados</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Area do Diretor
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <a class="dropdown-item" href="/vagasCreate">Cadastrar Vagas</a>
                        <a class="dropdown-item" href="/vagasList">Listar Vagas</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Area do Administrador
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <a class="dropdown-item" href="/crecheCreate">Cadastrar Creche</a>
                        <a class="dropdown-item" href="/diretorCreate">Cadastrar Diretor</a>
                        <a class="dropdown-item" href="/crecheList">Listar Creches</a>
                        <a class="dropdown-item" href="/matriculaListAdm">Validar Matriculas</a>
                    </div>
                </li>
                <li class="/logout">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
            </form>
        </div>
        </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-1 col-md-3"> </div>
                    <div class="col-10 col-md-6">
                    <br>
                </div>
            <div class="col-1 col-3"> </div>
            </div>
        </div>
        {{{body}}}​
    </center>​
</body>​
</html>