<!DOCTYPE html>
<html>
    <head>  </head>
    <body>
            <h2>Cadastro da Creche</h2>
        <form action="/crecheCreate" method="post">  
            Nome Da Creche:  <input type="text" name="nome_Creche">
            <br> <br>
            bairro:  <input type="text" name="bairro">
            <br> <br>
            rua:  <input type="text" name="rua">
             <br> <br>
            cidade:  <input type="text" name="cidade">
             <br> <br>
             fone:  <input type="text" name="fone   ">

            <br><br>
            <input type="submit" value="Cadastrar">
         </form>
    </body>
</html>