<!DOCTYPE html>
<html>
    <head>  </head>
    <body>
          <h2>Cadastro do Diretor</h2>
        <form action="/diretorCreate" method="post">
            Login: <input type="text" name="loginDiretor">
            <br><br>
            Senha: <input type="password" name="senhaDiretor">
            <br><br>
            Nome: <input type="text" name="nomeDiretor">
            <br><br>
            Cidade: <input type="text" name="cidadeDiretor">
            <br><br>
            Bairro: <input type="text" name="bairroDiretor">
            <br><br>
            Rua: <input type="text" name="ruaDiretor">
            <br><br>
            <input type="submit" value="Cadastrar">
        </form>
    </body>
</html>