<!DOCTYPE html>
<html>
    <head>  </head>
    <body>
</form>
        <form action="/login_Diretor" method="post" class="py-5 h-100">
            <h1>Digite suas Credenciais</h1>
            <br><br>
                <div class="form-outline mb-4" style="width: 30%;">
                    <input type="text" name="loginDiretor" id="loginDiretor" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Login</label>
                </div>

                <div class="form-outline mb-4"  style="width: 30%;">
                    <input type="password" name="senhaDiretor" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Senha</label>
                </div>
                <button type="submit" class="btn btn-secondary btn-block mb-4" value="Logar" style="width: 30%;">Logar</button>
        </form>
    </body>
</html>