<!DOCTYPE html>
<html>
    <head> </head>
    <body>
        <form action="/vagasEdit" method="post" class="py-5 h-100">
            <h1>Editar Vagas da Creche</h1>
            <br><br>
            
            <input type="hidden" name="id" value="{{vagasCreches.id}}">
                <div class="form-outline mb-4" style="width: 30%;">
                    <input type="text" name="quantidadeVagas" value="{{vagasCreches.quantidadeVagas}}" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Quantidade de Vagas</label>
                </div>

                <div class="form-outline mb-4"  style="width: 30%;">
                    <input type="text" name="turno" value="{{vagasCreches.turno}}" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Turno</label>
                </div>

                <div class="form-outline mb-4" style="width: 30%;">
                    <input type="text" name="turma" value="{{vagasCreches.turma}}" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Turma</label>
                </div>
                <button type="submit" class="btn btn-secondary btn-block mb-4" value="Salvar" style="width: 30%;">Salvar</button>
        </form>
    </body>
</html> 