<!DOCTYPE html>
<html>
    <head>  </head>
    <body>
        <h1>Cadastro Vagas da Creche</h1>
        <form action="/vagasCreate" method="post">  
            Nome da Creche: <input type="text" name="nomeCreche">​
            <br> <br>​
            Diretor: <input type="text" name="diretorCreche">​
            <br> <br>​
            Endereco: <input type="text" name="enderecoCreche">​
            <br> <br>
            Contato: <input type="text" name="contatoCreche">​
            <br> <br>
            CEP: <input type="text" name="cepCreche">​
            <br> <br>
            <input type="submit" value="Cadastrar">
        </form>
    </body>
</html>