<!DOCTYPE html>
<html>
    <head>  </head>
    <body>
        <form action="/cadastrarCrianca" method="post" class="py-5 h-100">
        <input type="hidden" name="id" value="{{usuario.id}}"> 
            <h1>Cadastro da Criança</h1>
            <br><br>
                <div class="form-outline mb-4" style="width: 30%;">
                    <input type="text" name="nome" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Nome</label>
                </div>

                <div class="form-outline mb-4"  style="width: 30%;">
                    <input type="text" name="nome_pai" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Nome do Pai</label>
                </div>

                <div class="form-outline mb-4"  style="width: 30%;">
                    <input type="text" name="rg" class="form-control" style="text-align: center;"/>
                    <label class="form-label">RG</label>
                </div>

                <div class="form-outline mb-4" style="width: 30%;">
                    <input type="text" name="bairro" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Bairro</label>
                </div>

                <div class="form-outline mb-4" style="width: 30%;">
                    <input type="text" name="endereco" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Endereço</label>
                </div>
                <button type="submit" class="btn btn-secondary btn-block mb-4" value="Cadastrar" style="width: 30%;">Cadastrar</button>
        </form>
    </body>
</html>