<!DOCTYPE html>
<html>
    <head>  </head>
    <body>
        <form action="/matriculaCreate" method="post" enctype="multipart/form-data" class="py-5 h-100"> 
        <h1>Matricular Aluno</h1>
        <br><br>
                 <input type="hidden" name="id_pai" value="{{usuario.id}}">

                <div class="form-outline mb-4" style="width: 30%;">
                    <input type="text" name="nome" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Nome</label>
                </div>
                <div class="form-outline mb-4" style="width: 30%;">
                    <input type="text" name="nome_pai" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Nome do Pai</label>
                </div>
                <div class="form-outline mb-4"  style="width: 30%;">
                    <input type="text" name="rg" class="form-control" style="text-align: center;"/>
                    <label class="form-label">RG</label>
                </div>
                <div class="form-outline mb-4" style="width: 30%;">
                    <input type="text" name="bairro" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Bairro</label>
                </div>
                <div class="form-outline mb-4" style="width: 30%;">
                    <input type="text" name="endereco" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Endereço</label>
                </div>
                <div class="form-outline mb-4" style="width: 30%;">
                    <input type="text" name="fone" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Telefone</label>
                </div>
                <div class="form-outline mb-4" style="width: 30%;">
                    <input type="file" name="comprovante_res" class="form-control" style="text-align: center;"/>
                    <label class="form-label">Comprovante de Residência</label>
                </div>
                <button type="submit" class="btn btn-secondary btn-block mb-4" value="Cadastrar" style="width: 30%;">Cadastrar</button>
        </form>
    </body>
</html>