<!DOCTYPE html>
<html>
    <head>  </head>
    <body>
        <h1>Matricular Aluno <i class="fas fa-arrow-alt-square-down    "></i></h1>
        <form action="/matriculaCreate" method="post">  
            nome:  <input type="text" name="nome">
            <br> <br>
            Nome Pai:  <input type="text" name="nome_pai">
            <br> <br>
            Rg:  <input type="text" name="rg">
            <br> <br>
            bairro:  <input type="text" name="bairro">
            <br> <br>
            endereco:  <input type="text" name="endereco">
            <br> <br>
            fone:  <input type="text" name="fone">
            <br> <br>
            <input type="submit" value="Cadastrar">
         </form>
    </body>
</html>